<link rel="stylesheet" href="css/style.css">


<div id="body-main">
    {{#entries}}
    <div class="dynamicElements">
        <h4 style="text-align: center;">{{dish}}</h4>
        <div class="card-body" id="content-body">
            <p>{{description}}</p>
            <p style="text-align: end;">{{price}}</p>
        </div>

        <div class="card-footer">
            <p>Contains: {{contains}}</p>
        </div>

    </div>
    {{/entries}}
</div>
<hr>

{{^entries}}
No entries yet.
{{/entries}}