

<div id="body-main">
    {{#entries}}
    <div class="dynamicElements">
        <div id="dishTitleDiv">
            <h4 style="text-align: center;" id="dishTitle">{{dish}}</h4>
        </div>
        <p>&nbsp;</p>
        <div class="card-body" id="content-body">
            <p>{{description}}</p>
            <p style="text-align: end;">{{price}}</p>
        </div>

        <div class="card-footer">
            <p>Contains: {{contains}}</p>
        </div>

    </div>
    {{/entries}}
</div>
<hr>

{{^entries}}
No entries yet.
{{/entries}}