<div id="body-main">
    {{#entries}}
    <div class="dynamicElements">
        <div id="dishTitleDiv">
            <h4 style="text-align: center;" id="dishTitle">{{dish}}</h4>
        </div>
        <p>&nbsp;</p>
        <div class="card-body" id="content-body">
            <p>{{description}}</p>
            <p style="text-align: end;">{{price}}</p>
        </div>

        <div class="card-footer">
            <p>Contains: {{contains}}</p>
            <p>Contains: {{_id}}</p>
            {{#user}}
            <button onclick="Openform()">Update</button>
            <div id="updateForm" style = "display:none">
                <form action="/update" method="POST">
                    <fieldset>
                        <h3>Update an employee</h3>
                        <label>Employee ID</label>
                        <input type="text" id='empID' name="id" required>
                        <br><br>
                        <label>New Name</label>
                        <input type="text" id="name" name="name" required>
                        <br><br>
                        <button type="reset">Reset</button>
                        <button type="submit">Submit</button>
                    </fieldset>
                </form>
            </div>
            {{/user}}
        </div>

    </div>
    {{/entries}}
</div>
<hr>

<script>
function Openform(){
  document.getElementById('updateForm').style.display = 'block';
}
</script>

{{^entries}}
No entries yet.
{{/entries}}